<div #view3D class="div-furgon">
    <div id="tridiv">
        <div class="scene" #scene
            style="-webkit-transform:rotateX(6deg) rotateY(-2125deg); -moz-transform:rotateX(6deg) rotateY(-2125deg); -ms-transform:rotateX(6deg) rotateY(-2125deg); transform:rotateX(6deg) rotateY(-2125deg); ">
            <div class="shape cuboid-2 cub-2">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-4 cub-4">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cylinder-1 llanta6" matTooltip="Llanta 6" (click)="clickLlanta(6)" [ngClass]="getCss(6)">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-2 llanta5" matTooltip="Llanta 5" (click)="clickLlanta(5)" [ngClass]="getCss(5)">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-3 llanta4" matTooltip="Llanta 4" (click)="clickLlanta(4)" [ngClass]="getCss(4)">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-4 llanta3" matTooltip="Llanta 3" (click)="clickLlanta(3)" [ngClass]="getCss(3)">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-5 llanta2" matTooltip="Llanta 2" (click)="clickLlanta(2)" [ngClass]="getCss(2)">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-6 llanta1" matTooltip="Llanta 1" (click)="clickLlanta(1)" [ngClass]="getCss(1)">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-7 llanta7" matTooltip="Llanta 7" (click)="clickLlanta(7)" [ngClass]="getCss(7)">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-8 llanta8" matTooltip="Llanta 8" (click)="clickLlanta(8)" [ngClass]="getCss(8)">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-9 llanta9" matTooltip="Llanta 9" (click)="clickLlanta(9)" [ngClass]="getCss(9)">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-10 llanta10" matTooltip="Llanta 10" (click)="clickLlanta(10)"
                [ngClass]="getCss(10)">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-11 llanta11" matTooltip="Llanta 11" (click)="clickLlanta(11)"
                [ngClass]="getCss(11)">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-12 llanta12" matTooltip="Llanta 12" (click)="clickLlanta(12)"
                [ngClass]="getCss(12)">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cuboid-5 cub-5">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-1 cub-1">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cylinder-13 cyl-1">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-14 cyl-2">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-15 cyl-3">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-16 cyl-4">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-17 LuzK" matTooltip="Luz K">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-18 LuzL" matTooltip="Luz L">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-19 LuzM" matTooltip="Luz M">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-20 LuzN" matTooltip="Luz N">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cylinder-21 LuzO" matTooltip="Luz O">
                <div class="face bm"></div>
                <div class="face tp"></div>
                <div class="face side s0"></div>
                <div class="face side s1"></div>
                <div class="face side s2"></div>
                <div class="face side s3"></div>
                <div class="face side s4"></div>
                <div class="face side s5"></div>
                <div class="face side s6"></div>
                <div class="face side s7"></div>
                <div class="face side s8"></div>
                <div class="face side s9"></div>
                <div class="face side s10"></div>
                <div class="face side s11"></div>
                <div class="face side s12"></div>
                <div class="face side s13"></div>
            </div>
            <div class="shape cuboid-3 LuzA" matTooltip="Luz A">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-6 LuzB" matTooltip="Luz B">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-8 LuzD" matTooltip="Luz D">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-9 LuzC" matTooltip="Luz C">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-10 LuzE" matTooltip="Luz E">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-11 LuzF" matTooltip="Luz F">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-12 LuzG" matTooltip="Luz G">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-13 LuzH" matTooltip="Luz H">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-14 LuzI" matTooltip="Luz I">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-15 LuzJ" matTooltip="Luz J">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-16 cub-16">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-17 cub-17">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-7 cub-7">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-18 cub-18">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-19 cub-19">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-20 cub-20">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
            <div class="shape cuboid-21 cub-21">
                <div class="face ft"></div>
                <div class="face bk"></div>
                <div class="face rt"></div>
                <div class="face lt"></div>
                <div class="face bm"></div>
                <div class="face tp"></div>
            </div>
        </div>
    </div>
</div>