<div *ngIf="!cargando">
    <div class="row pl-5 pr-5">
        <div class="col-sm-12 p-0 m-0">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>CUI De Colaborador:</mat-label>
                <input matInput type="text" [(ngModel)]="input" (keyup.enter)="buscar()" />
                <button mat-icon-button matSuffix (click)="buscar()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="col-sm-12 p-0 m-0">
            <button class="mr-5" type="button" mat-stroked-button color="primary"
                matTooltip="Buscar registro en una lista" (click)="abrirModal()">
                <mat-icon>open_in_new</mat-icon>
                Abrir Ventana
            </button>
            <button type="button" mat-stroked-button color="primary" matTooltip="Escanear código QR"
                (click)="abrirEscanerQR()">
                <mat-icon>qr_code_scanner</mat-icon>
                Escanear QR
            </button>
        </div>
    </div>
</div>
<div class="div-center w-100 mt-10" *ngIf="cargando">
    <mat-spinner></mat-spinner>
</div>