<div class="row">
    <div class="col-4">
        <mat-form-field appearance="legacy" class="w-100">
            <mat-label>{{inputLabel}}</mat-label>
            <input matInput type="{{typeInput}}" [(ngModel)]="inputValue" />
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field appearance="legacy" class="w-100">
            <input matInput disabled [value]="label" />
        </mat-form-field>
    </div>
    <div class="col-2 div-center-h">
        <button mat-icon-button color="primary" matTooltip="{{tooltipButton}}">
            <mat-icon>open_in_new</mat-icon>
        </button>
    </div>
</div>