<mat-form-field appearance="legacy" class="w-100">
  <mat-label>{{nombre}}</mat-label>
  <mat-select [(ngModel)]="itemSelect">
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field appearance="legacy" class="w-100 pl-10 pr-10 pt-5">
          <mat-label>Buscar:</mat-label>
          <input matInput (keyup)="buscarItem()" (keyup.enter)="buscarEnter()" [(ngModel)]="filtro"
            (keydown)="$event.stopPropagation()">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let columna of columnas" [ngClass]="{
        'col-12':columnas.length == 1,
        'col-6':columnas.length == 2,
        'col-4':columnas.length == 3,
        'col-3':columnas.length == 4
      }">
        <p class="w-100 puntos-suspensivos" [ngClass]="{
            'text-center': columna.aligment == 'center',
            'text-left': columna.aligment == 'left',
            'text-right': columna.aligment == 'right',
            'text-justify': columna.aligment == 'justify'
          }">{{columna.nombre}}</p>
      </div>
    </div>
    <ng-container *ngFor="let dato of getItems()">
      <mat-option [value]="dato[identificador]" (click)="selectItem()" (keyup)="selectItem()">
        <div class="row">
          <ng-container *ngFor="let columna of columnas; index as i">
            <div *ngIf="columna.tipo == 'texto'" [ngClass]="{
              'col-12':columnas.length == 1,
              'col-6':columnas.length == 2,
              'col-4':columnas.length == 3,
              'col-3':columnas.length == 4
            }">
              <p class="w-100 m-0 puntos-suspensivos" [ngClass]="{
                'text-center': columna.aligment == 'center',
                'text-left': columna.aligment == 'left',
                'text-right': columna.aligment == 'right',
                'text-justify': columna.aligment == 'justify'
              }" [matTooltip]="dato[columna.targetId]">{{dato[columna.targetId]}} {{i < columnas.length -1 ? " - " : ""
                  }}</p>
            </div>
            <div *ngIf="columna.tipo == 'objeto'" [ngClass]="{
              'col-12':columnas.length == 1,
              'col-6':columnas.length == 2,
              'col-4':columnas.length == 3,
              'col-3':columnas.length == 4
            }">
              <p class="w-100 m-0 puntos-suspensivos" [ngClass]="{
                'text-center': columna.aligment == 'center',
                'text-left': columna.aligment == 'left',
                'text-right': columna.aligment == 'right',
                'text-justify': columna.aligment == 'justify'
              }" [matTooltip]="getDatoObjeto(dato,columna.targetOpt)">{{getDatoObjeto(dato,columna.targetOpt)}}
                {{i < columnas.length - 1? " - " : "" }} </p>
            </div>
            <!-- Compativildad con version antigua de Aguila Select -->
            <div *ngIf="columna.texto" [ngClass]="{
              'col-12':columnas.length == 1,
              'col-6':columnas.length == 2,
              'col-4':columnas.length == 3,
              'col-3':columnas.length == 4
            }">
              <p class="w-100 m-0 puntos-suspensivos" [ngClass]="{
                'text-center': columna.aligment == 'center',
                'text-left': columna.aligment == 'left',
                'text-right': columna.aligment == 'right',
                'text-justify': columna.aligment == 'justify'
              }" [matTooltip]="dato[columna.targetId]">{{dato[columna.targetId]}} {{i < columnas.length -1 ? " - " : ""
                  }}</p>
            </div>
          </ng-container>
        </div>
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>