<div class="box contenedor">
  <div class="cuerpo">
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
      <h1>Error <span class="errorcode">404</span></h1>
      <p class="output">Es posible que la página que está buscando se haya eliminado, haya cambiado de nombre o no esté
        temporalmente disponible.</p>
      <p class="output">Por favor intente <a (click)="regresar()">regresar a la página anterior</a>
      <p class="output">Buena suerte.</p>
    </div>
  </div> 
</div>

