<div class="box">
  <div class="row mt-5">
    <div class="col-md-6 mx-auto">
      <mat-card class="card mat-elevation-z12">
        <!-- <mat-card-header class="header-card bg-c1">
            <h1 class="text-center">Bienvenido</h1>
          </mat-card-header> -->
        <div class="header-card bg-c1">
          <h1 class="p-0 m-0">Bienvenido</h1>
        </div>
        <mat-card-content>
          <p>Inicia Sesión para acceder a las funciones completas</p>
          <p>-AguilaApp Versión 0.0.0</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- <div class="row">
    <img class="img-mw-100 slide-in-left-img d-block mx-auto" src="http://clt.com.gt/assets/img/cabezal.png"
      alt="imagen">
  </div> -->
  <div class="row">
    <img class="img-mw-100 slide-aguila d-block mx-auto" src="assets/img/aguila-animada.gif"
      alt="imagen">
  </div>
</div>
