<div *ngIf="!cargandoDatos">
  <ng-container *ngIf="!(configuracionComponent | async).isModal">
      <ng-container *ngIf="!cargandoDatos">
          <app-header-component [header]="(configuracionComponent | async).header" (eventos)="eventosHeader($event)">
          </app-header-component>
      </ng-container>

      <div class="box">
          <mat-card *ngIf="!cargandoDatos" class="mat-elevation-z18 p-0 slide-in-bottom">
              <mat-card-content class="p-10">
                  <app-tabla-aguila [columnas]="getColumnas() |async" [listaDatos]="getDatos() | async"
                      [paginador]="getPaginador() | async" [listaOpciones]="getMenuOpcionesTabla() | async"
                      (eventMenu)="eventoMenuOpciones($event)" (eventPaginador)="eventoPaginador($event)">
                  </app-tabla-aguila>
              </mat-card-content>
          </mat-card>
      </div>
  </ng-container>

  <!-- Diseño de Modal -->
  <ng-container *ngIf="(configuracionComponent | async).isModal">
      <h4 class="txt-c-titulo p-0 m-0 text-center" mat-dialog-title>
          {{(configuracionComponent |async).header.titulo}}
      </h4>

      <app-tabla-aguila [columnas]="getColumnas() |async" [listaDatos]="getDatos() | async"
          [paginador]="getPaginador() | async" [listaOpciones]="getMenuOpcionesTabla() | async" [modal]="true"
          [multi]="false" (eventMenu)="eventoMenuOpciones($event)" (eventPaginador)="eventoPaginador($event)">
      </app-tabla-aguila>
  </ng-container>
</div>

<div class="div-center w-100 mt-10 box" *ngIf="cargandoDatos">
  <mat-spinner></mat-spinner>
</div>
