<div class="card" *ngIf="!cargando">
    <h5 class="ml-5 mt-10 m-0 p-0 txt-c-titulo">{{titulo}}</h5>
    <div class="row">
        <div class="col-sm-2">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Buscar por:</mat-label>
                <mat-select [(ngModel)]="buscarPor">
                    <mat-option value="Código" matTooltip="Código de Cliente">Código</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field appearance="legacy" class="w-100">
                <mat-label>{{buscarPor}}:</mat-label>
                <input matInput type="text" [(ngModel)]="inputValue" placeholder="Pulsa TAB para buscar"
                    (focusout)="buscar()" />
            </mat-form-field>
        </div>
        <div class="col-sm-1 mx-auto">
            <button class="" type="button" mat-icon-button color="primary" matTooltip="Buscar registro en una lista"
                (click)="abrirModal()">
                <mat-icon>open_in_new</mat-icon>
            </button>
        </div>
        <div class="col-sm-6 div-center-h">
            <h5 class="text-bold p-0 m-0">{{label}}</h5>
        </div>
    </div>
</div>
<div class="div-center w-100 mt-10" *ngIf="cargando">
    <mat-spinner></mat-spinner>
</div>