<ng-container *ngIf="!cargandoDatos">
  <app-header-component [header]="header" (eventos)="eventosHeader($event)">
  </app-header-component>
</ng-container>

<!-- Contenido de la Pagina -->
<div class="box">
  <mat-card class="mat-elevation-z6 slide-in-bottom" *ngIf="!cargandoDatos">
    <mat-card-content>
      <!-- Formulario -->
      <form [formGroup]="form">
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="legacy" class="w-100">
              <mat-label>Empresa</mat-label>
              <mat-select formControlName="empresaId">
                <mat-option *ngFor="let item of listaDeEmpresas" [value]="item.id">
                  {{ item.nombre }}
                </mat-option>
              </mat-select>
              <mat-error>{{ codErrores.empresaId }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field appearance="legacy" class="w-100">
              <mat-label>Código</mat-label>
              <input matInput type="text" formControlName="codigo" />
              <mat-error>{{ codErrores.codigo }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field appearance="legacy" class="w-100">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" formControlName="nombre" />
              <mat-error>{{ codErrores.nombre }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field appearance="legacy" class="w-100">
              <mat-label>Dirección</mat-label>
              <input matInput type="text" formControlName="direccion" />
              <mat-error>{{ codErrores.direccion }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field appearance="legacy" class="w-100">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="activa">
                <mat-option value="" selected></mat-option>
                <mat-option [value]="true"> Activo </mat-option>
                <mat-option [value]="false"> Bloqueado </mat-option>
              </mat-select>
              <mat-error>{{ codErrores.activa }}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="div-center w-100 mt-10" *ngIf="cargandoDatos">
    <mat-spinner></mat-spinner>
  </div>
</div>