<div *ngIf="!cargandoDatos">
    <ng-container *ngIf="!cargandoDatos">
      <app-header-component [header]="header" (eventos)="eventosHeader($event)">
      </app-header-component>
    </ng-container>
  
    <div class="box">
      <mat-card *ngIf="!cargandoDatos" class="mat-elevation-z18 p-0 slide-in-bottom">
        <mat-card-content class="p-10">
          <div class="card">
            <app-filtros [filtros]="filtrosComponent" (queryFilters)="getFiltros($event)"
              (clickConsultarDatos)="cargarPaginaFiltros()"></app-filtros>
          </div>
          <app-aguila-tabla [columnas]="columnas" [listaDatos]="getDatos() | async" [paginador]="getPaginador() | async"
            [listaOpciones]="menuOpcionesTabla" [exportar]="true" (eventMenu)="eventoMenuOpciones($event)"
            (eventPaginador)="eventoPaginador($event)" (eventPdf)="generarPDF($event)" (eventExcel)="generarExcel($event)">
          </app-aguila-tabla>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <div class="div-center w-100 mt-10 box" *ngIf="cargandoDatos">
    <mat-spinner></mat-spinner>
  </div>