<ng-container *ngIf="!cargandoDatos">
    <app-header-component [header]="(configuracionComponent | async).header" (eventos)="eventosHeader($event)">
    </app-header-component>
</ng-container>

<div class="box">
    <div class="div-center w-100 mt-10" *ngIf="cargandoDatos">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card class="mat-elevation-z12 slide-in-bottom" *ngIf="!cargandoDatos">
        <mat-card-content>
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-md-12">
                        <app-input-empleado [tituloModal]="'Empleado'"
                            (getItem)="form.controls['idEmpleado'].setValue($event.id)"></app-input-empleado>
                    </div>
                </div>
                <div class="card">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="ml-5 mt-10 m-0 p-0 txt-c-titulo">Datos de Asesor</h5>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Código:</mat-label>
                                <input matInput type="text" formControlName="codigo" />
                                <mat-error>{{ codErrores.codigo }}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-8">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Nombre:</mat-label>
                                <input matInput type="text" formControlName="nombre" />
                                <mat-error>{{ codErrores.nombres }}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-sm-3" *ngIf="!isNuevo()">
                            <mat-form-field appearance="legacy" class="w-100">
                                <mat-label>Fecha de Creación</mat-label>
                                <input matInput [matDatepicker]="fechaCreacion" formControlName="fechaCreacion" />
                                <mat-datepicker-toggle matSuffix [for]="fechaCreacion"></mat-datepicker-toggle>
                                <mat-datepicker #fechaCreacion></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>