<ng-container *ngIf="!cargandoDatos">
    <app-header-component [header]="header" (eventos)="eventosHeader($event)">
    </app-header-component>
</ng-container>

<div class="box">
    <div class="div-center w-100 mt-10" *ngIf="cargandoDatos">
        <mat-spinner></mat-spinner>
    </div>
    <mat-card class="mat-elevation-z12" *ngIf="!cargandoDatos">
        <mat-card-content>
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-12">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Nombre</mat-label>
                            <input matInput type="text" formControlName="nombre" />
                            <mat-error>{{ codErrores.nombre }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Path</mat-label>
                            <input matInput type="text" formControlName="path" />
                            <mat-error>{{ codErrores.path }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="activo">
                                <mat-option [value]="true"> Activo </mat-option>
                                <mat-option [value]="false"> Bloqueado </mat-option>
                            </mat-select>
                            <mat-error>{{ codErrores.activo }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Versión</mat-label>
                            <input matInput type="text" formControlName="moduMinVersion" />
                            <mat-error>{{ codErrores.moduMinVersion }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>