<ng-container *ngIf="!cargando">
    <app-header-component [header]="(configuracionComponent | async).header" (eventos)="eventosHeader($event)">
    </app-header-component>
</ng-container>

<div class="box">
    <div class="div-center w-100 mt-10" *ngIf="cargando">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card class="mat-elevation-z12" *ngIf="!cargando">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="w-100">
                        <mat-label>Documento De Identificación:</mat-label>
                        <input matInput type="text" placeholder="" formControlName="identificacion"
                            (focusout)="buscarDocumento()" />
                        <mat-error>{{ codErrores.identificacion }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre:</mat-label>
                        <input matInput type="text" placeholder="" formControlName="nombre" />
                        <mat-error>{{ codErrores.nombre }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="w-100">
                        <mat-label>Motivo De La Visita:</mat-label>
                        <input matInput type="text" placeholder="" formControlName="motivoVisita" />
                        <mat-error>{{ codErrores.motivoVisita }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="w-100">
                        <mat-label>Empresa Que Visita:</mat-label>
                        <mat-select formControlName="empresaVisita">
                            <mat-option *ngFor="let e of listaEmpresas.valores" [value]="e.valor">{{e.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{ codErrores.empresaVisita }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="w-100">
                        <mat-label>Area / Departamento:</mat-label>
                        <input matInput type="text" placeholder="" formControlName="areaVisita"
                            [matAutocomplete]="listAreas" />
                        <mat-autocomplete autoActiveFirstOption #listAreas="matAutocomplete">
                            <mat-option *ngFor="let a of listaAreasFiltradas | async" [value]="a.nombre">{{a.nombre}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error>{{ codErrores.areaVisita }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre A Quien Visita:</mat-label>
                        <input matInput type="text" placeholder="" formControlName="nombreQuienVisita" />
                        <mat-error>{{ codErrores.nombreQuienVisita }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="w-100">
                        <mat-label>Placa:</mat-label>
                        <input matInput type="text" placeholder="" formControlName="vehiculo" />
                        <mat-error>{{ codErrores.vehiculo }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12">

                    <!-- Select Imagenes -->
                    <app-select-images-files [imagenRecurso]="imgRecursoDPI" [titulo]="'Subir Archivos'"
                        (listaImagenes)="setImagenesSelect($event)">
                    </app-select-images-files>
                </div>
            </div>
        </form>
    </mat-card>
</div>